{%- style -%}
  .productcrousal {
    width: 90%;
    margin: auto;
  }
  .slick-next:before {
    color: grey;
  }
  .slick-prev:before {
    color: grey;
  }
  .grid__item {
    grid-gap: 10px;
  }
  li {
    margin: 5px;
  }
  h2 {
    text-align: center;
  }
{%- endstyle -%}

<div class="page-width">
  <h2>{{ section.settings.title }}</h2>
  <div class="productcrousal">
    {% assign collection = collections[section.settings.collection] %}
    {%- for product in collection.products -%}
      {% assign lazy_load = false %}
      {%- if forloop.index > 2 -%}
        {%- assign lazy_load = true -%}
      {%- endif -%}
      <li
        class="grid__item"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: {{ forloop.index }};"
        {% endif %}
      >
        {% render 'card-product',
          card_product: product,
          media_aspect_ratio: section.settings.image_ratio,
          image_shape: section.settings.image_shape,
          show_secondary_image: section.settings.show_secondary_image,
          show_vendor: section.settings.show_vendor,
          show_rating: section.settings.show_rating,
          lazy_load: lazy_load,
          skip_styles: skip_card_product_styles,
          quick_add: section.settings.quick_add,
          section_id: section.id
        %}
      </li>
      {%- assign skip_card_product_styles = true -%}
    {%- endfor -%}
  </div>
</div>

<script>
  $('.productcrousal').slick({
    dots: true,
    infinite: false,
    speed: 300,
    slidesToShow: 4,
    slidesToScroll: 4,
    arrow:true
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true,
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ],
  });
</script>

{% schema %}
{
  "name": "Product Crousal",

  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },

    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    }
  ],
  "presets": [
    {
      "name": "Product Crousal"
    }
  ]
}
{% endschema %}
